<%provide(:title, 'Contact')%>
<div class='row' style='padding-top: 30px;'>

	<div class="col-sm-5 col-sm-push-5 col-md-push-6 col-md-offset-1">
		<div class="mirror">
		</div>
	<!--	<%=image_tag('mirror_large.png', width:'420px', style:"border-radius: 50px;" )%> -->
	</div>
	
	
	<div class="col-sm-5  col-md-5 col-sm-pull-5 col-md-pull-5 contact-heading">
		<h1>Contact Us Today!</h1>
		<p class="lead">We would love to hear from you.  Choose from any of the three ways below to get in touch. </p>
		<%=image_tag('arrow.png', class:"img-responsive center-block img-center arrow")%>
			
		
	</div>
	


</div>

<hr class="featurette-divider">

<div class="row">

		<div class="col-xs-5 col-sm-4 center">
			<a href="mailto:me@anydomainname.com"><%=image_tag('email_icon.min.png', class:"img-responsive center-block contact-icons")%></a>
			
			<h3 class="hidden-xs">Email</h3>
			<p class="hidden-xs lead"><a href="mailto:me@anydomainname.com">me@anydomainname.com</a></p>
		</div>	
		<div class="col-xs-7 mobile-contact visible-xs-block">
		<h3 style=""> Email</h3>		
		<p class="lead"> <a href="mailto:me@anydomainname.com">me@anydomainname.com</a></p>	
	</div>


	<div class="col-xs-5 col-sm-4 center">
		<a href="tel:+15555551212"><%=image_tag('phone_icon.min.png', class:"img-responsive center-block contact-icons")%></a>
		<h3 class="hidden-xs">Phone</h3>
		<p class="hidden-xs lead"><a href="tel:+15555551212">555-555-1212</a></p>
	</div>	
	<div class="col-xs-7 mobile-contact visible-xs-block">
		<h3 style=""> Phone</h3>		
		<p class="lead"><a href="tel:+15555551212">555-555-1212</a></p>	
	
	</div>

	<div class="col-xs-5 col-sm-4 center">
		<%=image_tag('home_icon.min.png', class:"img-responsive center-block contact-icons")%>
		<h3 class="hidden-xs"> Mailing Address</h3>
		<p class="hidden-xs lead">S&J Risk Management<br>15 Bittersweet Lane<br> Albany NY 12208</p>
	</div>	
	<div class="col-xs-7 mobile-contact visible-xs-block">
		
		<h3 style=""> Mailing Address</h3>		
		<address class="lead">
			S&J Risk Management<br>
			15 Bittersweet Lane<br>
			Albany NY 12208
		</address>	
	</div>
	
	
</div>