 <div class="row ">
        <div class="col-md-4 marketing market-column" id="marketing-services">
          <a href="<%=services_path%>"><%=image_tag('services_front.jpg', width: "140px", height: "140px", class:"img-circle" )%></a>
          <h2>Our Services</h2>
          <p class="front-font">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-primary btn-lg" href="<%=services_path%>" role="button">View more</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4 marketing market-column" id="marketing-training">
          <a href="<%=training_path%>"><%=image_tag('training_front.jpg', width: "140px", height: "140px", class:"img-circle" )%></a>
          <h2>Safety Training</h2>
          <p class="front-font">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-primary btn-lg" href="<%=training_path%>" role="button">View more</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4 marketing market-column" id="marketing-contact">
      <a href="<%=contact_path%>"><%=image_tag('phone_icon.min.png', width: "140px", height: "140px", style:" border: 0", class:"" )%></a>
          <h2>Contact Information</h2>
          <p class="front-font">Donec sed odio dui. Cras justo odio, ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <p> <a class="btn btn-primary btn-lg" href="<%=contact_path%>" role="button">View more</a></p>
        </div><!-- /.col-lg-4 -->
</div>

 <hr class="featurette-divider">
<div class="row">

	
	<div class='col-xs-12' style="">
		<h3 class="device-font">Visit On Any Device</h3>
		
		<%=image_tag('devices.jpg', class:"img-center img-responsive center-block devices")%>
	</div>		

</div><!-- /.row -->

	