<%provide(:title, 'Services')%>
<div class="row">
	<div class="col-xs-12 col-md-8 col-md-offset-2 center about">
		<h1>Welcome to S & J Risk Management.</h1>
		<p class="lead">
			In order to successfully compete in the market place , it is critical for your business to plan and integrate loss prevention and control into your work and field operations.
 			Here at S&J we have over 36 years of safety and risk management experience with proven results. Whether your needs require on-site safety expertise, training or a comprehensive risk management program, we are here to serve you.
		</p>
	</div>
</div>

  <hr class="featurette-divider">

      <div class="row">
      	<div class="col-xs-12 col-sm-7">
      		<h1 class="center" style="margin-top: 10px;">Services Provided</h1>
        </div>
      </div>      
      
      <div class="row featurette">
         
        <div class="col-xs-12  col-sm-5 col-sm-push-7 ">
          <%=image_tag('jeffnme.jpg', class:"featurette-image img-responsive img-circle img-center") %>
        </div>
        
        
        <div class="col-xs-12 col-sm-7 col-sm-pull-5">
          <h2 class="featurette-heading">Construction Work Zone <span class="text-muted">Planning Evaluations</span></h2>

          
					<ul class="featurette-list">
        		<li class="lead">OSHA Compliance Audits</li>
        		<li class="lead">Model Safety Programs</li>
        		<li class="lead">Authorized NYS Code Rule 59 Workplace Safety Consultations</li>
						<li class="lead">Ergonomic Workplace Evaluations</li>        	
         		<li class="lead">Client Safety Program review and assessment</li>  
         	</ul>
        </div>
        

      
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        
        
         <div class="col-xs-12 col-sm-5">
         	 <%=image_tag('orange_cone.jpg', class:"featurette-image img-responsive img-circle img-center") %>
        </div>
        
        
        <div class="col-xs-12 col-sm-7">
          <h2 class="featurette-heading">Industry Specific Risk Assessments <span class="text-muted">such as...</span></h2>
          <ul class="featurette-list">
        		<li class="lead">Construction, Mining and Manufacturing Worker Hazard Assessments</li>
        		<li class="lead">Special Events – (Golf, Stadium, Concert and Sporting)</li>
        		<li class="lead">Accident Investigations and Root Cause Analysis</li>
        		<li class="lead">Traffic Studies and Evaluations</li>
        	</ul>
        </div>
      	
      	 
      
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        
        <div class="col-xs-12 col-sm-5 col-sm-push-7">
          <%=image_tag('meven.jpg', class:"featurette-image img-responsive img-circle img-center") %>
        </div>
        
        
        <div class="col-xs-12 col-sm-7 col-sm-pull-5">
          <h2 class="featurette-heading">Safety Training<span class="text-muted"> with...</span></h2>
            <ul class="featurette-list">
        			<li class="lead">In-house OSHA Construction Industry 10/30 Hour Authorized Trainers</li>
		    	   	<li class="lead">Yadda Yadda Yadda yada yadday ydysys dsfj dsfj dsf dsf  djf</li>
		    	   	<li class="lead">Multiple off-site training venue locations</li> 
		        	<li class="lead">Multiple off-site training venue locations</li>
		        </ul>
        	        
        </div>
        
      </div>
      
       <div class="row service-button-row">
        		<div class="col-xs-12 col-sm-2 col-sm-offset-2 col-md-offset-3">
        			<%=image_tag('training_front.jpg', class:"img-center img-circle", width:"140px")%>
        			<p class="center service-button"><a class="btn btn-primary btn-lg" href="<%=training_path%>" role="button">More Training</a></p>
        		</div>
        		<div class="col-xs-12 col-sm-3 col-md-2 ">
        			<h3 class="center">OR<h3>
        		</div>
        		<div class="col-xs-12 col-sm-2 ">
        			<%=image_tag('phone.png', class:"img-center", width:"140px")%>
        			<p class="center service-button"><a class="btn btn-primary btn-lg" href="<%=services_path%>"role="button">Contact S&J</a></p>
        		</div>
        	
        	</div>

        
      
      
      

    

      <!-- /END THE FEATURETTES -->