<!DOCTYPE html>
	<html>
		<head>
			<meta content='text/html; charset=UTF-8'
			http-equiv='Content-Type' />
		</head>
		<body>
			<h1>HEY THERE YOU....</h1>
			<p><%=@profession%>whatas up<%=@name%><br> your email is <%=@email%></p>
			<h2>did it work??........<%=@profession%></h2>
			<p>This is what they want to say:</p>
			<h3><%=@body%></h3>
			<h4>The location is<%=@city%><sp><%=@state%></h4>
		
		</body>
	</html>